<div class="anno-preview" id="<%= anno.id %>">
  <a href="#/doc/show/<%= anno.id %>"><%= anno.escape('title') %></a>
  <div>By <%= anno.author.escape('email') %></div>
  <p><%= anno.escape('body') %></p>
  
  <button class="anno-close">Close Preview</button>
</div>