<h1><%= doc.title %></h1>

<h3>Author: <br><%= doc.author.email %></h3>

<h2>Document Text:</h2>
<%= doc.body %>
<br>
<% if current_user == doc.author %>
  <%= link_to "Edit Document", edit_document_url(doc) %>
  <%= render "doc_delete", doc: doc %>
<% end %>