<h1><%= @document.title %></h1>

<h2>Document:</h2>
<%= @document.body %>
<br>
<h3>Author: <br><%= @document.author.email %></h3>

<%= render "annotations/anno_list", annotations: @document.annotations %>

<%= render "annotations/form", document: @document, refs: false %>

<%= render "annotations/ref_list", annotations: @document.references %>

<% if current_user == @document.author %>
  <%= link_to "Add References", new_document_annotating_url(@document) %>
<% end %>
