<h1><%= @document.title %></h1>

<h3>Author: <br><%= @document.author.email %></h3>

<h2>Document Text:</h2>
<%= @document.body %>

<%= render "annotatings/anno_list", annotations: @document.annotations %>

<%= render "annotatings/form", document: @document, refs: false %>

<%= render "annotatings/ref_list", annotations: @document.references %>

<% if current_user == @document.author %>
  <%= link_to "Add References", new_document_annotating_url(@document) %>
<% end %>
