<div class="anno-preview" id="<%= ref.id %>">
  <a href="#/doc/show/<%= ref.id %>"><%= ref.escape('title') %></a>
  <div>By <%= ref.author.escape('email') %></div>
  <p><%= ref.escape('body') %></p>
  
  <button class="anno-close">Close Preview</button>
</div>