<!DOCTYPE html>
<html>
<head>
  <title>GlossolHellYeah</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>

  <nav>
    <%= image_tag "mini_logo.png" %>
    

    <% if signed_in? %>
      <%= render "layouts/sign_out" %>
      <%= link_to "Home", user_documents_url(current_user) %>
    <% else %>
      <%= link_to "Sign In", new_session_url %>
      <%= link_to "Sign Up", new_user_url %>
      <%= render "layouts/demo_user" %>
    <% end %>
  
  </nav>

  <section class="errors">
    <%= render "layouts/flash_messages", messages: flash[:errors] %>
    <%= render "layouts/flash_messages", messages: flash[:notices] %>
  </section>

<%= yield %>

</body>
</html>
