<!DOCTYPE html>
<html>
<head>
  <title>GlossolHellYeah</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,600,800|Montserrat:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,600&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>

  <nav class="group">
    
    <container class="nav-logo group">
      <%= image_tag "mini_logo.png", class: "logo-img" %>
      <div class="app-title">glossolHéllYeah</div>
    </container>
   
    <container class="links group">
      <% if signed_in? %>
      
      <ul class="getting-around group">
        <li>
          <%= link_to "Home", user_documents_url(current_user), class: "nav-link"%>
        </li>
        <li>
          <%= link_to "Settings", edit_user_url(current_user), class: "nav-link"%>
        </li>
        <li><%= render "layouts/sign_out" %></li>
      </ul>
      
      <% else %>
      
      <ul class="entrance group">
        <li><%= link_to "Sign In", new_session_url, class: "nav-link" %></li>
        <li><%= link_to "Sign Up", new_user_url, class: "nav-link" %></li>
        <li><%= render "layouts/demo_user" %></li>
      </ul>
      
      <% end %>
    
    </container>
  </nav>

  <section class="errors">
    <div class="error">
      <%= render "layouts/flash_messages", messages: flash[:errors] %>
    </div>
    <div class="notice">
      <%= render "layouts/flash_messages", messages: flash[:notices] %>
    </div>
  </section>


  <main>
    <%= yield %>
  </main>
  
 

</body>
</html>
